@tailwind base;
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animate-pulse {
    animation: pulse 1s infinite; /* Adjust the animation duration and timing as needed */
}

.disabled{
    pointer-events: none;
    opacity: 50%;
  }


  .gridList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    max-height: fit-content;
    height: -moz-max-content;
    min-height: 10vh;
    max-height: 25vh;
    overflow-y:scroll;
    
    scrollbar-color: red orange;
    scrollbar-width: thin;
  
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: 2px solid red;
  }
  
  .cellList {
    font-size: 1.75ch;
    border-bottom: 2px solid black;
    height: fit-content;
    background: #cdafd0ca;
    padding: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
   }

   .cellList.heading {
    font-size:calc(12px + 1.1vw);
    border-bottom: 6px solid rgb(231, 255, 251);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 5ch;
    position: sticky;
    top: 0;
    background-color: rgb(193, 216, 216);
   }
